@CHARSET "UTF-8";

@font-face{
  font-family: "Fira Mono";
  src: url("../fonts/woff2/FiraMono-Regular.woff2") format("woff2"),
       url("../fonts/woff/FiraMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "monospace";
  src: url("../fonts/woff2/FiraMono-Regular.woff2") format("woff2"),
       url("../fonts/woff/FiraMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "Fira Sans";
  src: url("../fonts/woff2/FiraSans-Light.woff2") format("woff2"),
       url("../fonts/woff/FiraSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: "Fira Sans";
  src: url("../fonts/woff2/FiraSans-LightItalic.woff2") format("woff2"),
       url("../fonts/woff/FiraSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family: "Fira Sans";
  src: url("../fonts/woff2/FiraSans-Regular.woff2") format("woff2"),
       url("../fonts/woff/FiraSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "Fira Sans";
  src: url("../fonts/woff2/FiraSans-Italic.woff2") format("woff2"),
       url("../fonts/woff/FiraSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: "Fira Sans";
  src: url("../fonts/woff2/FiraSans-Medium.woff2") format("woff2"),
       url("../fonts/woff/FiraSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: "Fira Sans";
  src: url("../fonts/woff2/FiraSans-MediumItalic.woff2") format("woff2"),
       url("../fonts/woff/FiraSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face{
  font-family: "Fira Sans";
  src: url("../fonts/woff2/FiraSans-SemiBold.woff2") format("woff2"),
       url("../fonts/woff/FiraSans-SemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: "Fira Sans";
  src: url("../fonts/woff2/FiraSans-SemiBoldItalic.woff2") format("woff2"),
       url("../fonts/woff/FiraSans-SemiBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

html {
  text-rendering: optimizelegibility;
}

body {
  font-family: "Fira Sans";
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: 500;
}

a {
  outline: 0;
}
